.log_message_in_method
{
	font-weight: bold;
	font-size: 0.8em;
}

.log_message_param
{
	color: black;
	font-style: italic;
	font-size: 0.8em;
}

.log_message_error
{
	color: red;
	font-size: 0.8em;
}

.log_message_info
{
	color: blue;
	font-size: 0.8em;
}

.log_message_query
{
	color: purple;
	font-size: 0.8em;
}

.log_timestamp
{
	font-size: 0.8em;
	font-size: 0.8em;
}

.log_filename
{
	color: green;
	font-size: 0.8em;
}

.log_function
{
	color: #000acc;
	font-size: 0.8em;
}
